{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">CRUD</a>
                </li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Crud Add
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="update5/{{ stocks.id }}" method="POST">
                    {% csrf_token %}
                      <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="ammonix" value="{{ stocks.ammonix }}" placeholder="ammonix" id="inputammonix" required>
                                    <label for="inputammonix">ammonix</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="tovex" value="{{ stocks.tovex }}" placeholder="tovex" id="inputtovex" required>
                                    <label for="inputtovex">tovex</label>
                                </div>
                            </div>
                        </div>
                    </div>

                  <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="raccord25ms"  value="{{ stocks.raccord25ms }}" placeholder="son" id="inputraccord25ms" required>
                                    <label for="inputraccord25ms">raccord25ms</label>
                                </div>stocks
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="raccord42ms" value="{{ stocks.raccord42ms }}" placeholder="raccord42ms" id="inputraccord42ms" required>
                                    <label for="inputraccord42ms">raccord42ms</label>
                                </div>
                            </div>
                        </div>
                    </div>

                 <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="raccord17ms" value="{{ stocks.raccord17ms }}" placeholder="raccord17ms" id="inputraccord17ms" required>
                                    <label for="inputraccord17ms">raccord17ms</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="ligne_tir" value="{{ stocks.ligne_tir }}" placeholder="Ligne tir" id="inputligne_tir" required>
                                    <label for="inputligne_tir">Ligne tir</label>
                                </div>
                            </div>

                        </div>
                    </div>

                     <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="aei" value="{{ stocks.aei }}" placeholder="aei" id="inputaei" required>
                                    <label for="inputaei">AEI</label>
                                </div>
                            </div>
                        <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="num_stock" value="{{ stocks.num_stock }}" placeholder="Num stock" id="inputnum_stock" required>
                                    <label for="inputnum_stock">Num stock</label>
                                </div>
                            </div>

                        </div>
                    </div>




                    <button class="btn btn-primary btn-block" type="submit">Submit&nbsp;<span></span></button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}