{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">CRUD</a>
                </li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Crud Add
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="update4/{{ avances.id }}" method="POST">
                    {% csrf_token %}
                      <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="avance_foration" value="{{ avances.avance_foration }}" placeholder="Avance foration" id="inputavance_foration" required>
                                    <label for="inputavance_foration">Avance foration</label>
                                </div>
                            </div>

                        </div>
                    </div>




                    <button class="btn btn-primary btn-block" type="submit">Submit&nbsp;<span></span></button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}