
{% extends 'layout/app.html' %}

{% load static %}
{% block body %}
 <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>

            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5">2 New Users!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-list"></i>
                            </div>
                            <div class="mr-5">11 New Commandes!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-shopping-cart"></i>
                            </div>
                            <div class="mr-5">123 New Orders!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-life-ring"></i>
                            </div>
                            <div class="mr-5">13 New Task!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
            </div>


            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Data Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">



<thead>
                            <tr>
                                <th>Date</th>
                                <th>Panneau</th>
                                <th>Tranché</th>
                                <th>Niveau</th>
                                <th>Maille</th>
                                <th>Métrage foré</th>
                                <th>Nbr de trou</th>
                                <th>Puissance</th>
                                <th>Longueur</th>
                                <th>Surface</th>
                                <th>Volume</th>
                                <th>Ammonix</th>
                                <th>Tovex</th>
                                <th>Ligne de tir</th>
                                <th>Taux d'abattage</th>
                                <th>Raccord25ms</th>
                                <th>Raccord42ms</th>
                                <th>Raccord17ms</th>
                                <th>Son</th>
                                <th>Fréquence</th>
                                <th>Vitesse</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Panneau</th>
                                <th>Tranché</th>
                                <th>Niveau</th>
                                <th>Maille</th>
                                <th>Métrage foré</th>
                                <th>Nbr de trou</th>
                                <th>Puissance</th>
                                <th>Longueur</th>
                                <th>Surface</th>
                                <th>Volume</th>
                                <th>Ammonix</th>
                                <th>Tovex</th>
                                <th>Ligne de tir</th>
                                <th>Taux d'abattage</th>
                                <th>Raccord25ms</th>
                                <th>Raccord42ms</th>
                                <th>Raccord17ms</th>
                                <th>Son</th>
                                <th>Fréquence</th>
                                <th>Vitesse</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>05/05/2022</td>
                                <td>P3</td>
                                <td>TJ5</td>
                                <td>INT4/5</td>
                                <td>6*5</td>
                                <td>2580.60</td>
                                <td>391</td>
                                <td>6.60</td>
                                <td>260</td>
                                <td>260</td>
                                <td>12675</td>
                                <td>80365</td>
                                <td>22500</td>
                                <td>21700</td>
                                <td>500</td>
                                <td>0.10</td>
                                <td>45</td>
                                <td>35</td>
                                <td>111.12</td>
                                <td>6.40</td>
                                <td>1.04</td>
                            </tr>
                            <tr>
                                <td>10/05/2022</td>
                                <td>P4</td>
                                <td>TJ6</td>
                                <td>INT1/2</td>
                                <td>6*5</td>
                                <td>2530.60</td>
                                <td>371</td>
                                <td>8.60</td>
                                <td>360</td>
                                <td>190</td>
                                <td>11775</td>
                                <td>81365</td>
                                <td>23500</td>
                                <td>19700</td>
                                <td>500</td>
                                <td>0.40</td>
                                <td>55</td>
                                <td>45</td>
                                <td>120.00</td>
                                <td>6.80</td>
                                <td>1.44</td>
                            </tr>
                            <tr>
                                <td>15/05/2022</td>
                                <td>P7</td>
                                <td>TJ7</td>
                                <td>INT1/2</td>
                                <td>6*5</td>
                                <td>2530.60</td>
                                <td>371</td>
                                <td>8.60</td>
                                <td>360</td>
                                <td>190</td>
                                <td>11775</td>
                                <td>81365</td>
                                <td>23500</td>
                                <td>19600</td>
                                <td>500</td>
                                <td>1.40</td>
                                <td>45</td>
                                <td>65</td>
                                <td>109.00</td>
                                <td>5.80</td>
                                <td>1.74</td>
                            </tr>
                            <tr>
                                <td>20/05/2022</td>
                                <td>P3</td>
                                <td>TJ2</td>
                                <td>INT1/2</td>
                                <td>6*5</td>
                                <td>2532.60</td>
                                <td>372</td>
                                <td>8.70</td>
                                <td>370</td>
                                <td>180</td>
                                <td>11175</td>
                                <td>81265</td>
                                <td>24500</td>
                                <td>19500</td>
                                <td>500</td>
                                <td>0.50</td>
                                <td>58</td>
                                <td>47</td>
                                <td>122.00</td>
                                <td>5.80</td>
                                <td>2.44</td>
                            </tr>
                            <tr>
                                <td>30/04/2022</td>
                                <td>P5</td>
                                <td>TJ6</td>
                                <td>INT1/2</td>
                                <td>5*5</td>
                                <td>2510.60</td>
                                <td>321</td>
                                <td>6.60</td>
                                <td>460</td>
                                <td>150</td>
                                <td>11875</td>
                                <td>82365</td>
                                <td>22500</td>
                                <td>20600</td>
                                <td>500</td>
                                <td>0.70</td>
                                <td>58</td>
                                <td>49</td>
                                <td>111.00</td>
                                <td>6.20</td>
                                <td>1.54</td>
                            </tr>
                            <tr>
                                <td>10/05/2022</td>
                                <td>P4</td>
                                <td>TJ6</td>
                                <td>INT1/2</td>
                                <td>6*5</td>
                                <td>2530.60</td>
                                <td>371</td>
                                <td>8.60</td>
                                <td>360</td>
                                <td>190</td>
                                <td>11775</td>
                                <td>81365</td>
                                <td>23500</td>
                                <td>19700</td>
                                <td>500</td>
                                <td>0.40</td>
                                <td>55</td>
                                <td>45</td>
                                <td>120.00</td>
                                <td>6.80</td>
                                <td>1.44</td>
                            </tr>
                            <tr>
                                <td>20/04/2022</td>
                                <td>P3</td>
                                <td>TE6</td>
                                <td>INT1/2</td>
                                <td>5*5</td>
                                <td>2332.60</td>
                                <td>332</td>
                                <td>9.50</td>
                                <td>290</td>
                                <td>190</td>
                                <td>12175</td>
                                <td>81265</td>
                                <td>24500</td>
                                <td>19500</td>
                                <td>500</td>
                                <td>0.50</td>
                                <td>58</td>
                                <td>47</td>
                                <td>122.00</td>
                                <td>6.80</td>
                                <td>1.44</td>
                            </tr>
                            <tr>
                                <td>20/03/2022</td>
                                <td>P2</td>
                                <td>TJ3</td>
                                <td>INT1/2</td>
                                <td>5*5</td>
                                <td>2552.60</td>
                                <td>572</td>
                                <td>8.20</td>
                                <td>406</td>
                                <td>190</td>
                                <td>21175</td>
                                <td>71265</td>
                                <td>34500</td>
                                <td>19500</td>
                                <td>500</td>
                                <td>0.50</td>
                                <td>52</td>
                                <td>41</td>
                                <td>123.00</td>
                                <td>6.80</td>
                                <td>1.44</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->

<section class="content">
        <div class="container-fluid">
       <div class="row">
            <div class="col-lg-6">
              <!-- PIE CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Commande and Stock Chart</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

             <div class="col-lg-6">
              <!-- DONUT CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Total Rendement in Each Machine</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->

            </div>



          <div class="col-lg-6">

          </div>

        </div>

        </div><!-- /.container-fluid -->
      </section>

 <section class="content">
        <div class="container-fluid">
       <div class="row">
            <div class="col-lg-6">
              <!-- PIE CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Qte Ammonix/commande</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <canvas id="pieChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

             <div class="col-lg-6">
              <!-- DONUT CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Total Rendement in Each Machine</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <canvas id="pieChart4" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->

            </div>



          <div class="col-lg-6">

          </div>

        </div>

        </div><!-- /.container-fluid -->
      </section>

 <section class="content">
        <div class="container-fluid">
       <div class="row">
            <div class="col-lg-6">
              <!-- PIE CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Qte Tovex/commande</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <canvas id="pieChart5" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

             <div class="col-lg-6">
              <!-- DONUT CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Qte Tovex/commande</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <canvas id="pieChart6" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->

            </div>



          <div class="col-lg-6">

          </div>

        </div>

        </div><!-- /.container-fluid -->
      </section>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}
  {% block custom_js %}

  <script>
    $(document).ready(function(){
      var donutChartCanvas = $('#pieChart').get(0).getContext('2d')
      var pieData        = {
        labels: [
            'Commandes',
            'Stock',
        ],
        datasets: [
          {
            data: [{{ fouration_count }}, {{ stock_count }}],
            backgroundColor : ['#f56954', '#00a65a'],
          }
        ]
      }

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
      var pieData        = pieData;
      var pieOptions     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var pieChart = new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions
      })

      var data =  {{ data|safe }}
      var pieData2 = {
        labels: {{ labels|safe }},
        datasets: [
          {
            data: {{ data|safe }},
            backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
          }
        ]
      }

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d')
      var pieData2        = pieData2;
      var pieOptions2     = {
        maintainAspectRatio : false,
        responsive : true,
      }

      var pieChart2 = new Chart(pieChartCanvas2, {
        type: 'pie',
        data: pieData2,
        options: pieOptions2
      })


      var donutChartCanvas = $('#pieChart3').get(0).getContext('2d')
      var pieData        = {
        labels: [
            'Qte Ammonix/commande',
            'qte Ammonix in Stock',
        ],
        datasets: [
          {
            data: [{{ fouration_count1 }}, {{ stock_count1 }}],
            backgroundColor : ['#f39c12', '#00c0ef'],
          }
        ]
      }

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas = $('#pieChart3').get(0).getContext('2d')
      var pieData        = pieData;
      var pieOptions     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var pieChart = new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions
      })

      var data =  {{ data|safe }}
      var pieData2 = {
        labels: {{ labels|safe }},
        datasets: [
          {
            data: {{ data|safe }},
            backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
          }
        ]
      }

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas2 = $('#pieChart4').get(0).getContext('2d')
      var pieData2        = pieData2;
      var pieOptions2     = {
        maintainAspectRatio : false,
        responsive : true,
      }

      var pieChart2 = new Chart(pieChartCanvas2, {
        type: 'bar',
        data: pieData2,
        options: pieOptions2
      })

       var donutChartCanvas = $('#pieChart5').get(0).getContext('2d')
      var pieData        = {
        labels: [
            'Qte Tovex/commande',
            'qte Tovex in Stock',
        ],
        datasets: [
          {
            data: [{{ fouration_count1 }}, {{ stock_count1 }}],
            backgroundColor : ['#f56954', '#00c0ef'],
          }
        ]
      }

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas = $('#pieChart5').get(0).getContext('2d')
      var pieData        = pieData;
      var pieOptions     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var pieChart = new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions
      })

      var data =  {{ data|safe }}
      var pieData2 = {
        labels: {{ labels|safe }},
        datasets: [
          {
            data: {{ data|safe }},
            backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
          }
        ]
      }


      var donutChartCanvas = $('#pieChart6').get(0).getContext('2d')
      var pieData        = {
        labels: [
            'Qte Raccord/commande',
            'qte Raccord in Stock',
        ],
        datasets: [
          {
            data: [{{ fouration_count1 }}, {{ stock_count1 }}],
            backgroundColor : [ '#00a65a', '#00c0ef'],
          }
        ]
      }

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas = $('#pieChart6').get(0).getContext('2d')
      var pieData        = pieData;
      var pieOptions     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var pieChart = new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions
      })

      var data =  {{ data|safe }}
      var pieData2 = {
        labels: {{ labels|safe }},
        datasets: [
          {
            data: {{ data|safe }},
            backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
          }
        ]
      }






    })
  </script>

  {% endblock custom_js %}

