{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">CRUD</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    CRUD List
                    <a  class="btn btn-sm btn-success" href="{% url 'create2' %}" style="padding: 8px; float: right; background-color: green; color: white;">ADD</a>
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Num Com</th>
                                <th>type de tir</th>
                                <th>case debut</th>
                                <th>equipe</th>
                                <th>son</th>
                                <th>frequence</th>
                                <th>vitesse</th>
                                <th>vitesse vent</th>
                                <th>humiditer</th>
                                <th>temp</th>
                                <th>taux_abattage</th>
                                <th>taux_deplacement</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sautage in sautages %}
                                <tr>
                                    <td>{{ sautage.created_at  |date:"d-m-Y" }}</td>
                                    <td>{{ sautage.fouration_id.num_com }}</td>
                                    <td>{{ sautage.type_tir }}</td>
                                    <td>{{ sautage.case_debut }}</td>
                                    <td>{{ sautage.equipe }}</td>
                                    <td>{{ sautage.son }}</td>
                                    <td>{{ sautage.frequence }}</td>
                                    <td>{{ sautage.vitesse }}</td>
                                    <td>{{ sautage.vitesse_vent }}</td>
                                    <td>{{ sautage.humiditer }}</td>
                                    <td>{{ sautage.temp }}</td>
                                    <td>{{ sautage.taux_abattage }}</td>
                                    <td>{{ sautage.taux_deplacement }}</td>

                                    <td>
                                        <a class="btn btn-sm btn-warning" href="edit2/{{ sautage.id }}"> <span class="fa fa-edit"></span> Edit</a>
                                        <a class="btn btn-sm btn-danger" href="delete2/{{ sautage.id }}"><span class="fa fa-trash"></span> Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $("#id_username").attr("placeholder", "Enter Username");
        $("#id_password").attr("placeholder", "Enter Password");
    </script>
{% endblock %}